<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEK - Resultados Busca</title>
  <link rel="stylesheet" th:href="@{/sugestao/tutor/searchByTutorAndTitle.css}">
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-title">
            <h3>Resultados da Busca</h3>
        </div>
        <ul>

            <li><h3>Solicitações</h3></li>
            <li><a href="/">Início</a></li>
            <li><a href="/area/readAll">Outras Solicitações</a></li>

            <li><h3>Sugestões</h3></li>
            <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>

            <li>
                <a th:href="@{/sugestao/readTutorList/{page}(page=${0})}">
                    Minhas Sugestões
                </a>
            </li>
            
            <li><h3>Acesso</h3></li>
            <li><a href="/tutor/readOne">Perfil</a></li>
            <li>
                <form action="/accessLogout" method="post">
                    <button type="submit" class="logoutButton">Sair</button>
                </form>
            </li>

            <div class="spacer"></div>
            <li><h3>Sobre</h3></li>
            <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
            <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

            <li><h3>Contato</h3></li>
            <li><p>mensinaki@gmail.com</p></li>
        </ul>
    </div>
    
  <div class="content">

    <div class="cards-container">
        <div class="result-title-box">
            <h3 class="result-title">Resultados da Busca por</h3>
            <p class="result-titleSearch" th:text="${titleSearch}"></p>
        </div>

        <div th:each="sugestao: ${sugestoes}">

            <a th:href="@{/sugestao/readOneToTutor/{sugestaoId}(sugestaoId=${sugestao.sugestaoId})}" class="card-link">
                <div class="card">
                    <div class="card-font">
                        <h1 th:text="${sugestao.title}"></h1>
                        <p th:text="${sugestao.local}"></p>
                        <p th:text="'R$ ' + (${sugestao.price})"></p>
                    </div>
                </div>
            </a>

            <div class="card-actions">
                <a
                    class="delete-button"
                    th:href="@{/sugestao/deleteSearchTutorTitle/{sugestaoId}(sugestaoId=${sugestao.sugestaoId}, titleSearch=${titleSearch}, pageSearch=${pageSearch}, page=${page})}">
                    Deletar
                </a>
            </div>
        </div> <!-- th each -->
      
    </div> <!-- cards container -->

    <div class="pagination">
        <ul>
            <li th:if="${pageSearch == 0}">
                <a>Anterior</a>
            </li>

            <li th:if="${pageSearch > 0}">

                <form action="/sugestao/searchByTutorAndTitle" method="post">
                    <input type="hidden" name="titleSearch" th:value="${titleSearch}">
                    <input type="hidden" name="page" th:value="${page - 1}">
                    <input type="hidden" name="pageSearch" th:value="${pageSearch - 1}">
                    <button type="submit">Anterior</button>
                </form>

            </li>

            <li>
                <a>
                    <span th:text="'Página Atual (' + (${pageSearch + 1}) + ')'"></span>
                </a>
            </li>

            <li th:if="${totalPages == 0}">
                <a>
                    <span th:text="'Total de Páginas (' + (${totalPages + 1}) + ')'"></span>
                </a>
            </li>

            <li th:if="${totalPages > 0}">
                <a>
                    <span th:text="'Total de Páginas (' + (${totalPages}) + ')'"></span>
                </a>
            </li>

            <li th:if="${pageSearch < totalPages - 1}">

                <form action="/sugestao/searchByTutorAndTitle" method="post">
                    <input type="hidden" name="titleSearch" th:value="${titleSearch}">
                    <input type="hidden" name="page" th:value="${page + 1}">
                    <input type="hidden" name="pageSearch" th:value="${pageSearch + 1}">
                    <button type="submit">Próxima</button>
                </form>
                
            </li>

            <li th:if="${pageSearch >= totalPages - 1}">
                <a>Próxima</a>
            </li>

        </ul>
    </div><!-- pagination -->
  </div> <!-- content -->

</body>
</html>