<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>MEK - Atualização de Sugestão</title>
    <link th:href="@{/sugestao/tutor/updateArea.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <div class="sidebar-title">
        <h3>Atualização de Sugestão</h3>
    </div>
    <ul>

        <li><h3>Solicitações</h3></li>
        <li><a href="/">Início</a></li>
        <li><a href="/area/readAll">Outras Solicitações</a></li>

        <li><h3>Sugestões</h3></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>

        <li>
            <a th:href="@{/sugestao/readTutorList/{page}(page=${0})}">
                Minhas Sugestões
            </a>
        </li>
        
        <li><h3>Acesso</h3></li>
        <li><a href="/tutor/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>
        <li><h3>Sobre</h3></li>
        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/sugestao/saveUpdateArea" method="post" th:object="${modelSugestao}">
            <input type="hidden" name="sugestaoId" value="" th:field="*{sugestaoId}">

            <input type="hidden" name="titulo" value="" th:field="*{title}">

            <input type="hidden" name="modelo" value="" th:field="*{modelo}">

            <input type="hidden" name="local" value="" th:field="*{local}">

            <input type="hidden" name="price" value="" th:field="*{price}">

            <label>Área</label>
            <div class="radio-container">
                <th:block th:each="modelArea : ${areas}">
                    <label class="radio-item">
                        <input type="radio" th:value="${modelArea.areaId}" name="areaId" th:checked="${modelArea.areaId == modelSugestaoAreaAreaId}"/>
                        <span th:text="${modelArea.areaName}"></span>
                    </label>
                </th:block>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>