<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>MEK - Atualização de Sugestão</title>
    <link th:href="@{/sugestao/update.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <h1>Atualização de Sugestão</h1>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>
        <li><a href="/sugestao/readTutorList">Minhas Sugestões</a></li>
        <li><a href="/tutor/doUpdate">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/sugestao/saveUpdate" method="post" th:object="${modelSugestao}">
            <label for="formSugestaoId" id="formSugestaoId">Código</label>
            <input type="number" id="formSugestaoId" name="sugestaoId" value="" th:field="*{sugestaoId}">

            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" value="" th:field="*{title}">

            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" name="modelo" value="" th:field="*{modelo}">

            <label for="local">Local</label>
            <input type="text" id="local" name="local" value="" th:field="*{local}">

            <label for="price">Preço</label>
            <input type="text" id="price" name="price" value="" th:field="*{price}">

            <label>Área</label>
            <div class="radio-container">
                <th:block th:each="modelArea : ${areas}">
                    <label class="radio-item">
                        <input type="radio" th:value="${modelArea.areaId}" name="areaId" th:checked="${modelArea.areaId == modelSugestaoAreaAreaId}"/>
                        <span th:text="${modelArea.areaName}"></span>
                    </label>
                </th:block>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>