<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MEK - Erros Atualização Detalhes Aluno</title>
        <link th:href="@{/aluno/update/updateDetailsErrors.css}" rel="stylesheet"/>
    </head>
    <body>

        <div class="sidebar">
            <div class="sidebar-title">
                <h3>Erros na Atualização dos Detalhes do Aluno</h3>
            </div>
            <ul>
                <li><h3>Sugestões</h3></li>
                <li><a href="/">Início</a></li>
                <li><a href="/area/readAll">Outras Sugestões</a></li>

                <li><h3>Solicitações</h3></li>
                <li><a href="/solicitacao/doCreate">Criar Solicitação</a></li>

                <li>
                    <a th:href="@{/solicitacao/readAlunoList/{page}(page=${0})}">
                        Minhas Solicitações
                    </a>
                </li>
                
                <li><h3>Acesso</h3></li>
                <li><a href="/aluno/readOne">Perfil</a></li>
                <li>
                    <form action="/accessLogout" method="post">
                        <button type="submit" class="logoutButton">Sair</button>
                    </form>
                </li>
    
                <div class="spacer"></div>
                <li><h3>Sobre</h3></li>
                <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
                <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>
    
                <li><h3>Contato</h3></li>
                <li><p>mensinaki@gmail.com</p></li>
            </ul>
        </div>

        <div class="centered-box">
            <h1>Erros na Atualização dos Detalhes do Aluno</h1>
            <ul>
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
            <a href="/aluno/doUpdateDetails" class="btn-link">Tentar de novo</a>
        </div>
    </body>
</html>