<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MEK - Escolha de Usuário</title>
        <link th:href="@{/access/choiceSigninUser.css}" rel="stylesheet"/>
    </head>
    <body>

        <div class="sidebar">
            <h2>Escolha de Usuário</h2>
            <ul>
                <li><a href="/">Início</a></li>

                <li><h3>Sobre</h3></li>
                <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
                <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>
    
                <div class="spacer"></div>
    
                <li><h3>Contato</h3></li>
                <li><p>mensinaki@gmail.com</p></li>
    
            </ul>
        </div>

        <div class="centered-box">
            <h1>Escolha o usuário que quer cadastrar</h1>
            <a href="/aluno/doSigninDetails" class="btn-link">Aluno</a>
            <br><br>
            <a href="/tutor/doSigninDetails" class="btn-link">Tutor</a>
        </div>
    </body>
</html>