* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 232px;
    background-color: green;
    color: white;
    padding: 20px;
    height: 100%;
    position: fixed;

    display: flex;         
    flex-direction: column;
  }

  .sidebar-title {
    height: 90px;

    display: flex;
    align-items: center;
}
  
  .sidebar ul {
    list-style: none;

    flex-grow: 1;               
    padding: 0;                 
    margin: 0;                  
    display: flex;
    flex-direction: column;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }

  .logoutButton {
    background: none;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
    padding: 0;
    padding-left: 0px;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 40px;
    text-align: left;
    right: 10px;
    margin-top: -10px;
}

.spacer {
  margin-top: auto;
}




.sidebar ul li form button:hover {
  text-decoration: underline;
}

.sidebar ul li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}



  
  .content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
  }

  .search-form-input {
    margin-top: 10px;
    margin-left: 30px;
    width: 340px;
    border: 4px solid #ccc;
    border-color: green;
    border-radius: 15px;
    padding: 10px;
}

  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    width: 600px;
    transition: transform 0.3s ease;
    margin-top: 1%;
    background-color: rgb(161, 159, 159);
    border: 6px solid;
    border-color: green;
    border-radius: 15px;
  }
  
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card-font {
    color: green;
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }

  .delete-button {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .delete-button:hover {
    background-color: rgb(224, 102, 102);
    color: white;
  }




  .pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: green;
    border: 1px solid green;
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active,
.pagination a:hover {
    background-color: green;
    color: white;
}




.btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    background-color: green;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn-link:hover {
    background-color: #555;
  }