<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEK - Feed do Aluno</title>
  <link rel="stylesheet" th:href="@{/aluno/feed.css}">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-title">
      <h3>Feed do Aluno</h3>
    </div>
    <ul>
      <li><h3>Sugestões</h3></li>
      <li><a href="/">Início</a></li>
      <li><a href="/area/readAll">Outras Sugestões</a></li>

      <li><h3>Solicitações</h3></li>
      <li><a href="/solicitacao/doCreate">Criar Solicitação</a></li>

      <li>
        <a th:href="@{/solicitacao/readAlunoList/{page}(page=${0})}">
            Minhas Solicitações
        </a>
      </li>

      <li><h3>Acesso</h3></li>
      <li><a href="/aluno/readOne">Perfil</a></li>
      <li>
          <form action="/accessLogout" method="post">
              <button type="submit" class="logoutButton">Sair</button>
          </form>
      </li>

      <div class="spacer"></div>
      <li><h3>Sobre</h3></li>
      <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
      <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

      <li><h3>Contato</h3></li>
      <li><p>mensinaki@gmail.com</p></li>
  </ul>
  </div>

  <div class="content">

    <form action="/sugestao/searchByAreaAndTitle" method="post">
      <input type="hidden" name="areaId" th:value="${areaId}">
      <input class="search-form-input" type="text" name="titleSearch" placeholder="Título de uma Sugestão que você deseja encontrar">
      <input type="hidden" name="pageSearch" th:value="${0}">
      <input type="hidden" name="page" th:value="${page}">
      <button class="btn-link" type="submit">Buscar</button>
    </form>

    <div class="cards-container">

      <div th:each="sugestao: ${sugestoes}">

        <a th:href="@{/sugestao/readOne/{sugestaoId}(sugestaoId=${sugestao.sugestaoId})}" class="card-link">
          <div class="card">
            <div class="card-font">
              <h1 th:text="${sugestao.title}"></h1>
              <p th:text="${sugestao.local}"></p>
              <p th:text="'R$ ' + (${sugestao.price})"></p>
            </div>
          </div>
        </a>
      </div> <!-- th each -->
      
      
    </div> <!-- cards container -->




    <div class="pagination">
      <ul>
          <li th:if="${page == 0}">
              <a>Anterior</a>
          </li>

          <li th:if="${page > 0}">
              <a th:href="@{/sugestao/readByAlunoArea/{areaId}(areaId=${areaId}, page=${page - 1})}">Anterior</a>
          </li>

          <li>
              <a>
                  <span th:text="'Página Atual (' + (${page + 1}) + ')'"></span>
              </a>
          </li>

          <li th:if="${totalPages == 0}">
              <a>
                  <span th:text="'Total de Páginas (' + (${totalPages + 1}) + ')'"></span>
              </a>
          </li>

          <li th:if="${totalPages > 0}">
              <a>
                  <span th:text="'Total de Páginas (' + (${totalPages}) + ')'"></span>
              </a>
          </li>

          <li th:if="${page < totalPages - 1}">
              <a th:href="@{/sugestao/readByAlunoArea/{areaId}(areaId=${areaId}, page=${page + 1})}">Próxima</a>
          </li>

          <li th:if="${page >= totalPages - 1}">
              <a>Próxima</a>
          </li>

      </ul>
    </div> <!-- pagination -->
  </div> <!-- content -->

</body>
</html>