<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Atualização Série Aluno</title>
    <link th:href="@{/aluno/update/updateSerie.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <div class="sidebar-title">
        <h3>Atualização da Série do Aluno</h3>
    </div>
    <ul>

        <li><h3>Sugestões</h3></li>
        <li><a href="/">Início</a></li>
        <li><a href="/area/readAll">Outras Sugestões</a></li>

        <li><h3>Solicitações</h3></li>
        <li><a href="/solicitacao/doCreate">Criar Solicitação</a></li>

        <li>
            <a th:href="@{/solicitacao/readAlunoList/{page}(page=${0})}">
                Minhas Solicitações
            </a>
        </li>
        
        <li><h3>Acesso</h3></li>
        <li><a href="/aluno/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>
        <li><h3>Sobre</h3></li>
        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/aluno/saveUpdateSerie" method="post" th:object="${modelAluno}">

            <input type="hidden" id="formAlunoId" name="alunoId" th:field="*{alunoId}">

            <input type="hidden" name="alunoName" th:field="*{alunoName}">

            <input type="hidden" name="idade" th:field="*{idade}">

            <label>Série (A última ou a atual)</label>
            <div class="radio-container">
                <th:block th:each="modelSerie : ${series}">
                    <label class="radio-item">
                        <input type="radio" th:value="${modelSerie.serieId}" name="serie" th:checked="${modelSerie.serieId == modelAlunoSerieSerieId}"/>
                        <span th:text="${modelSerie.serieName}"></span>
                    </label>
                </th:block>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>