<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Atualização Senha Tutor</title>
    <link th:href="@{/tutor/update/updatePassw.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <h1>Atualização da Senha do Tutor</h1>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>
        <li><a href="/sugestao/readTutorList">Minhas Sugestões</a></li>
        <li><a href="/tutor/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>

        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/tutor/saveUpdatePassw" method="post" th:object="${dtoTutorEmail}">

            <label for="tutorId" id="formTutorId">Código</label>
            <input type="hidden" id="tutorId" name="tutorId" th:field="*{tutorId}">

            <label for="tutorName" id="formTutorId">Nome</label>
            <input type="hidden" id="tutorName" name="tutorName" th:field="*{tutorName}">

            <label for="areaAptidao" id="formTutorId">Área de Aptidão</label>
            <input type="hidden" id="areaAptidao" name="areaAptidao" th:field="*{areaAptidao}">

            <label for="idade" id="formTutorId">Idade</label>
            <input type="hidden" id="idade" name="idade" th:field="*{idade}">

            <label for="anosExperiencia" id="formTutorId">Anos de Experiência</label>
            <input type="hidden" id="anosExperiencia" name="anosExperiencia" th:field="*{anosExperiencia}">

            <label id="formTutorId" for="tutorEmail">E-mail</label>
            <input type="hidden" id="tutorEmail" name="tutorEmail" th:field="*{tutorEmail}">

            <label for="passw">Nova Senha</label>
            <input type="password" id="passw" name="passw">

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>