<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MEK - Exceções Atualização Senha Aluno</title>
        <link th:href="@{/aluno/updatePasswExceptions.css}" rel="stylesheet"/>
    </head>
    <body>

        <div class="sidebar">
            <h1>Exceções na Atualização da Senha do Aluno</h1>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/solicitacao/doCreate">Criar Solicitação</a></li>
                <li><a href="/solicitacao/readAlunoList">Minhas Solicitações</a></li>
                <li><a href="/aluno/readOne">Perfil</a></li>
                <li>
                    <form action="/accessLogout" method="post">
                        <button type="submit" class="logoutButton">Sair</button>
                    </form>
                </li>

                <div class="spacer"></div>

                <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
                <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>
    
                <li><h3>Contato</h3></li>
                <li><p>mensinaki@gmail.com</p></li>
            </ul>
        </div>

        <div class="centered-box">
            <h1>Exceções na Atualização da Senha do Aluno</h1>
            <ul>
                <li th:each="error: ${errors}" th:text="${error}"></li>
            </ul>
            <a href="/aluno/readOne" class="btn-link">Tentar de novo</a>
        </div>
    </body>
</html>