<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MEK - Exceções Cadastro Senha Aluno</title>
        <link th:href="@{/aluno/signin/signinPasswordExceptions.css}" rel="stylesheet"/>
    </head>
    <body>

        <div class="sidebar">
            <h1>Exceções no Cadastro da Senha do Aluno</h1>
            <ul>
                <li><a href="/">Início</a></li>
    
                <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
                <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>
    
                <div class="spacer"></div>
    
                <li><h3>Contato</h3></li>
                <li><p>mensinaki@gmail.com</p></li>
    
            </ul>
        </div>

        <div class="centered-box">
            <h1>Exceções no Cadastro da Senha do Aluno</h1>
            <ul th:each="error: ${errors}">
                <li th:text="${error}"></li>
            </ul>
            <a href="/aluno/doSigninDetails" class="btn-link">Tentar de novo</a>
        </div>
    </body>
</html>