<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Criação de Sugestão</title>
    <link th:href="@{/sugestao/create.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <h1>Criação de Sugestão</h1>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>
        <li><a href="/sugestao/readTutorList">Minhas Sugestões</a></li>
        <li><a href="/tutor/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/sugestao/saveCreate" method="post">
            <label for="title">Título</label>
            <input type="text" id="title" name="title" value="">

            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" name="modelo" value="">

            <label for="local">Local</label>
            <input type="text" id="local" name="local" value="">

            <label for="price">Preço</label>
            <input type="text" id="price" name="price" value="">

            <label>Área</label>
            <div class="radio-container">
                <th:block th:each="modelArea : ${areas}">
                    <label class="radio-item">
                        <input type="radio" th:value="${modelArea.areaId}" name="areaId"/>
                        <span th:text="${modelArea.areaName}"></span>
                    </label>
                </th:block>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>