<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Lista de Views</title>
    <link href="access/viewsList.css" rel="stylesheet"/>
</head>
<body>
    <div class="sidebar">
        <h1>Lista de Views</h1>
        <ul>
            <li><a href="/">Lista de Views</a></li>
            <li><a href="/access/tryLogin">Login</a></li>
            <li><a href="/access/choiceSigninUser">Escolha de Usuário</a></li>
            <li><a href="/aluno/doSignin">Cadastro do Aluno</a></li>
            <li><a href="/tutor/doSignin">Cadastro do Tutor</a></li>
            <li><br></li>
            <li><a href="/">Feed do Aluno</a></li>
            <li><a href="/">Criar Solicitação</a></li>
            <li><a href="/">Minhas Solicitações</a></li>
            <li><a href="/">Atualização de Solicitação</a></li>
            <li><a href="/">Perfil</a></li>
            <li><br></li>
            <li><a href="/">Feed do Tutor</a></li>
            <li><a href="/">Criar Sugestão</a></li>
            <li><a href="/">Minhas Sugestões</a></li>
            <li><a href="/">Atualização de Sugestão</a></li>
            <li><a href="/">Perfil</a></li>
        </ul>
    </div>
</body>
</html>