<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>MEK - Minhas Sugestões</title>
    <link th:href="@{/sugestao/readTutorList.css}" rel="stylesheet"/>
</head>
<body>

    <div class="sidebar">
        <h1>Minhas Sugestões</h1>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>
            <li><a href="/sugestao/readTutorList">Minhas Sugestões</a></li>
            <li><a href="/tutor/doUpdate">Perfil</a></li>
            <li>
                <form action="/accessLogout" method="post">
                    <button type="submit" class="logoutButton">Sair</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Modelo</th>
                        <th>Local</th>
                        <th>Preço</th>
                        <th>Ação</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sugestao:${sugestoes}">
                        <td><span th:text="${sugestao.title}"></span></td>
                        <td><span th:text="${sugestao.modelo}"></span></td>
                        <td><span th:text="${sugestao.local}"></span></td>
                        <td><span th:text="${sugestao.price}"></span></td>
                        <td>
                            <a th:href="${(#mvc.url('SC#doUpdate').arg(0, sugestao.sugestaoId)).build()}">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a th:href="${(#mvc.url('SC#delete').arg(0, sugestao.sugestaoId)).build()}">
                                Deletar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>