<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Cadastro Senha Tutor</title>
    <link th:href="@{/tutor/signin/signinPassword.css}" rel="stylesheet"/>
</head>
<body>

    <div class="sidebar">
        <h1>Cadastro de Senha do Tutor</h1>
        <ul>
            <li><a href="/">Início</a></li>

            <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
            <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

            <div class="spacer"></div>

            <li><h3>Contato</h3></li>
            <li><p>mensinaki@gmail.com</p></li>

        </ul>
    </div>

    <div class="content">
        <div class="form-container">
            <h1>Cadastro de Senha do Tutor</h1>
            <form action="/tutor/saveSigninPassword" method="post" th:object="${dtoTutorEmail}">
                <label id="hidden" for="tutorName">Nome</label>
                <input type="hidden" id="tutorName" name="tutorName" value="" th:field="*{tutorName}">

                <label id="hidden">Área de Aptidão</label>
                <input type="hidden" id="areaAptidao" name="areaAptidao" value="" th:field="*{areaAptidao}">

                <label id="hidden" for="idade">Idade</label>
                <input type="hidden" id="idade" name="idade" value="" th:field="*{idade}">

                <label id="hidden" for="anosExperiencia">Anos de Experiência</label>
                <input type="hidden" id="anosExperiencia" name="anosExperiencia" value="" th:field="*{anosExperiencia}">

                <label id="hidden" for="tutorEmail">E-Mail</label>
                <input type="hidden" id="tutorEmail" name="tutorEmail" value="" th:field="*{tutorEmail}">

                <label for="passw">Senha</label>
                <input type="password" id="passw" name="passw" value="">

                <button type="submit">Cadastrar</button>
                <a href="/accessTryLogin">Voltar</a>
            </form>
        </div>
    </div>

</body>
</html>