<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Atualização Detalhes Tutor</title>
    <link th:href="@{/tutor/update/updateDetails.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <div class="sidebar-title">
        <h3>Atualização de Detalhes do Tutor</h3>
    </div>
    <ul>

        <li><h3>Solicitações</h3></li>
        <li><a href="/">Início</a></li>
        <li><a href="/area/readAll">Outras Solicitações</a></li>

        <li><h3>Sugestões</h3></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>

        <li>
            <a th:href="@{/sugestao/readTutorList/{page}(page=${0})}">
                Minhas Sugestões
            </a>
        </li>
        
        <li><h3>Acesso</h3></li>
        <li><a href="/tutor/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>
        <li><h3>Sobre</h3></li>
        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/tutor/saveUpdateDetails" method="post" th:object="${modelTutor}">

            <label for="formTutorId" id="formTutorId">Código</label>
            <input type="number" id="formTutorId" name="tutorId" th:field="*{tutorId}">

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="tutorName" th:field="*{tutorName}">
            <br><br>

            <label>Área de Aptidão</label>
            <div class="radio-container">
                <th:block th:each="modelArea : ${areas}">
                    <label class="radio-item">
                        <input type="radio" th:value="${modelArea.areaId}" name="areaAptidao" th:checked="${modelArea.areaId == modelTutorAreaAptidaoAreaId}"/>
                        <span th:text="${modelArea.areaName}"></span>
                    </label>
                </th:block>
            </div>
            <br><br>

            <label for="idade">Idade</label>
            <input type="number" id="idade" name="idade" th:field="*{idade}">
            <br><br>

            <label for="anosExperiencia">Anos de Experiência</label>
            <input type="number" id="anosExperiencia" name="anosExperiencia" th:field="*{anosExperiencia}">

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>