<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>MEK - Atualização de Sugestão</title>
    <link th:href="@{/sugestao/update.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <h1>Atualização de Sugestão</h1>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sugestao/tryCreate">Criar Sugestão</a></li>
        <li><a href="/sugestao/seeTutorList">Minhas Sugestões</a></li>
        <li><a href="/tutor/tryUpdate">Perfil</a></li>
        <li>
            <form action="/">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <form action = "/">
            <label for="inputCodigo" id="labelCodigo">Código</label>
            <input type="number" id="inputCodigo" name="codigo" value="">

            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" value="">

            <label for="area">Área</label>
            <input type="text" id="area" name="area" value="">

            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" name="modelo" value="">

            <label for="ambiente">Ambiente</label>
            <input type="text" id="ambiente" name="ambiente" value="">

            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" value="">
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>