<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Criação de Sugestão</title>
    <link th:href="@{/aluno/signin.css}" rel="stylesheet"/>
</head>
<body>

    <div class="sidebar">
        <h1>Cadastro de Aluno</h1>
        <ul>
            <li><a href="/">Início</a></li>

            <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
            <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

            <div class="spacer"></div>

            <li><h3>Contato</h3></li>
            <li><p>mensinaki@gmail.com</p></li>

        </ul>
    </div>

    <div class="content">
        <div class="form-container">
            <h1>Cadastro do Aluno</h1>
            <form action="/aluno/saveSignin" method="post">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="alunoName" value="">

                <label>Série (A Última ou a Atual)</label>
                <div class="radio-container">
                    <th:block th:each="modelSerie : ${series}">
                        <label class="radio-item">
                            <input type="radio" th:value="${modelSerie.serieId}" name="serie"/>
                            <span th:text="${modelSerie.serieName}"></span>
                        </label>
                    </th:block>
                </div>

                <label>Área de Maior Dificuldade</label>
                <div class="radio-container">
                    <th:block th:each="modelArea : ${areas}">
                        <label class="radio-item">
                            <input type="radio" th:value="${modelArea.areaId}" name="areaDificuldade"/>
                            <span th:text="${modelArea.areaName}"></span>
                        </label>
                    </th:block>
                </div>

                <label for="idade">Idade</label>
                <input type="number" id="idade" name="idade" value="">

                <label for="email">E-Mail</label>
                <input type="email" id="email" name="alunoEmail" value="">

                <label for="passw">Senha</label>
                <input type="password" id="passw" name="passw" value="">

                <button type="submit">Cadastrar</button>
                <a href="/accessTryLogin">Voltar</a>
            </form>
        </div>
    </div>

</body>
</html>