<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Visualização de Solicitação</title>
    <link th:href="@{/solicitacao/tutor/readOne.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <div class="sidebar-title">
        <h3>Visualização de Solicitação</h3>
    </div>
    <ul>

        <li><h3>Solicitações</h3></li>
        <li><a href="/">Início</a></li>
        <li><a href="/area/readAll">Outras Solicitações</a></li>

        <li><h3>Sugestões</h3></li>
        <li><a href="/sugestao/doCreate">Criar Sugestão</a></li>

        <li>
            <a th:href="@{/sugestao/readTutorList/{page}(page=${0})}">
                Minhas Sugestões
            </a>
        </li>

        <li><h3>Acesso</h3></li>
        <li><a href="/tutor/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>
        <li><h3>Sobre</h3></li>
        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

    <div class="details">
        <h1>Detalhes da Solicitação</h1>
        <p><strong>Título:</strong> <span th:text="${solicitacao.title}"></span></p>
        <p><strong>Modelo:</strong> <span th:text="${solicitacao.modelo}"></span></p>
        <p><strong>Local:</strong> <span th:text="${solicitacao.local}"></span></p>
        <p><strong>Área da Solicitação:</strong> <span th:text="${areaSolicitacao.areaName}"></span></p>
        <br>

        <h3>Detalhes do Aluno</h3>
        <p><strong>Nome:</strong> <span th:text="${modelAluno.alunoName}"></span></p>
        <p><strong>Série:</strong> <span th:text="${modelSerie.serieName}"></span></p>
        <p><strong>Área de Dificuldade do Aluno:</strong> <span th:text="${areaDificuldade.areaName}"></span></p>
        <p><strong>Idade:</strong> <span th:text="${modelAluno.idade}"></span></p>

        <h3>Contato</h3>
        <p><strong>E-Mail:</strong> <span th:text="${modelAluno.alunoEmail}"></span></p>

    </div>

</body>
</html>