<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MEK - Erros Cadastro Aluno</title>
        <link th:href="@{/aluno/signinErrors.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="center-content">
            <h1>Erros de Cadastro</h1>
            <ul>
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
            <a href="/aluno/doSignin" class="btn-link">Tentar de novo</a>
        </div>
    </body>
</html>