<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK - Visualização de Sugestão</title>
    <link th:href="@{/sugestao/readOne.css}" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <h1>Visualização de Sugestão</h1>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/solicitacao/doCreate">Criar Solicitação</a></li>
        <li><a href="/solicitacao/readAlunoList">Minhas Solicitações</a></li>
        <li><a href="/aluno/readOne">Perfil</a></li>
        <li>
            <form action="/accessLogout" method="post">
                <button type="submit" class="logoutButton">Sair</button>
            </form>
        </li>

        <div class="spacer"></div>

        <li><a href="/public/whatIs">O que é o MEnsinaKi</a></li>
        <li><a href="/public/howToUse">Como usar o MEnsinaKi</a></li>

        <li><h3>Contato</h3></li>
        <li><p>mensinaki@gmail.com</p></li>
    </ul>
</div>

    <div class="details">
        <h1>Detalhes da Sugestão</h1>
        <p><strong>Título:</strong> <span th:text="${sugestao.title}"></span></p>
        <p><strong>Modelo:</strong> <span th:text="${sugestao.modelo}"></span></p>
        <p><strong>Local:</strong> <span th:text="${sugestao.local}"></span></p>
        <p><strong>Preço:</strong> <span th:text="${sugestao.price}"></span></p>
        <p><strong>Área da Sugestão:</strong> <span th:text="${areaSugestao.areaName}"></span></p>
        <br>

        <h3>Detalhes do Tutor</h3>
        <p><strong>Nome:</strong> <span th:text="${modelTutor.tutorName}"></span></p>
        <p><strong>Área de Aptidão do Tutor:</strong> <span th:text="${areaAptidao.areaName}"></span></p>
        <p><strong>Idade:</strong> <span th:text="${modelTutor.idade}"></span></p>
        <p><strong>Anos de Experiência:</strong> <span th:text="${modelTutor.anosExperiencia}"></span></p>

        <h3>Contato</h3>
        <p><strong>E-Mail:</strong> <span th:text="${modelTutor.tutorEmail}"></span></p>

    </div>

</body>
</html>